<template>
  <ux-dialog>
    <ux-dialog-body>

      <div class="field">
        <label class="label">Namn</label>
        <div class="control">
          <input class="input" type="text" value.bind="bill.name" placeholder="Bostadsförsäkring">
        </div>
      </div>

      <div class="field">
        <label class="label">Pris</label>
        <div class="control">
          <input class="input" type="number" value.bind="bill.totalCost" placeholder="1000">
        </div>
      </div>

      <div class="field">
        <label class="label">Betalningsmånad</label>
        <div class="control">
          <div class="select">
          <select value.bind="bill.payStartMonth">
            <option repeat.for="month of months"
                    model.bind="month.month" t='${month.name}'>
            </option>
          </select>
        </div>
      </div>
      </div>

      <div class="field">
        <label class="label">Hur återkommande är räkningen</label>
        <div class="control">
          <input class="input" type="number" placeholder="2" value.bind="bill.payPeriod">
        </div>
      </div>

    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="button is-seconday"click.trigger="controller.cancel()">Avbryt</button>
      <button class="button is-primary"click.trigger="controller.ok(bill)">${createOrEditTitle}</button>
    </ux-dialog-footer>
  </ux-dialog>
</template>


