<template>
  <ux-dialog style="margin: 0px;">
    <ux-dialog-header>
      <button click.delegate="setEssentialTabActive(true)" class="button is-seconday ${essentialTabActive ? 'is-active' : ''}" t="required"></button>
      <button click.delegate="setEssentialTabActive(false)" class="button is-seconday ${essentialTabActive ? '' : 'is-active'}" t="additional"></button>
    </ux-dialog-header>
    <ux-dialog-body show.bind="essentialTabActive">
    
      <div class="field-flex-wrapper">
      <div class="field" validation-errors.bind="nameErrors">
        <label class="label no-copy" t="name"></label>
        <div class="control">
          <input class="input" type="text" value.bind="name & validate" placeholder="" class.bind="nameErrors.length ? 'is-danger' : ''">
        </div>
        <p class="help is-danger" repeat.for="errorInfo of nameErrors" t="validation.name-missing"></p>
        <p class="help is-danger" if.bind="nameErrors.length === 0">&nbsp;</p>
      </div>

      <div class="field" validation-errors.bind="totalCostErrors">
        <label class="label no-copy" t="price"></label>
        <div class="control">
          <input class="input" type="number" value.bind="totalCost & validate" placeholder="1000" class.bind="totalCostErrors.length ? 'is-danger' : ''">
        </div>
        <p class="help is-danger" repeat.for="errorInfo of totalCostErrors" t="validation.totalCost-missing"></p>
        <p class="help is-danger" if.bind="totalCostErrors.length === 0">&nbsp;</p>
      </div>
    </div>

    <div class="field-flex-wrapper">
      <div class="field" validation-errors.bind="startDateErrors">
        <label class="label no-copy" t="startDate"></label>
        <div class="control">
          <input class="input" type="date" value.bind="startDate & validate" class.bind="startDateErrors.length ? 'is-danger' : ''">
        </div>
        <p class="help is-danger" repeat.for="errorInfo of startDateErrors" t="validation.startDate-missing"></p>
        <p class="help is-danger" if.bind="startDateErrors.length === 0">&nbsp;</p>
      </div>

      <div class="field">
        <label class="label no-copy" t="recurringbill"></label>
        <div class="control">
          <div class="select">
            <select value.bind="payPeriod" style="width: 100%;">
              <option repeat.for="payperiod of payperiods" model.bind="payperiod.value" t='${payperiod.name}'>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>

      <div class="field" validation-errors.bind="endDateErrors">
        <label class="label no-copy" t="endDate"></label>
        <div class="control">
          <input class="input" type="date" value.bind="endDate & validate" class.bind="endDateErrors.length ? 'is-danger' : ''" disabled.bind="payPeriod === 0" style="width: 50%;">
          <button click.delegate="addMonthsToEndDate(1)"if.bind="payPeriod !== 0" class="button">1+&nbsp;<span t="short-month"></span></button>
          <button click.delegate="addMonthsToEndDate(12)"if.bind="payPeriod !== 0" class="button">1+&nbsp;<span t="short-year"></span></button>
        </div>
        <p class="help is-danger" repeat.for="errorInfo of endDateErrors" t="validation.endDate-missing"></p>
        <p class="help is-danger" if.bind="endDateErrors.length === 0">&nbsp;</p>
      </div>

      <div class="field">
        <div class="control" if.bind="bill.createdDate">
          <span t="bill-created" class="is-size-7 no-copy"></span><span class="is-size-7">${bill.createdDate.substring(0,10)}</span>
        </div>
      </div>
    </ux-dialog-body>
    
    <ux-dialog-body show.bind="!essentialTabActive">
      <div class="field">
        <label class="label no-copy" t="notes"></label>
        <div class="control">
        <textarea value.bind="notes" class="textarea" placeholder=""></textarea>
        </div>
      </div>

      <div class="field">
        <label class="label no-copy" t="color-scheme"></label>
        <div class="control">
          <div class="select">
            <select value.bind="colorScheme" css="background: ${colorScheme.value}">
            <option repeat.for="color of colorSchemes" model.bind="color" css="background: ${color.value}" t="${color.displayName}"> </option>
            </select>
          </div>
        </div>
      </div>

    </ux-dialog-body>

    <ux-dialog-footer>
      <button class="button is-seconday" click.trigger="controller.cancel()" t="cancel"></button>
      <button class="button is-primary" click.trigger="validateOnCreateOrEdit()" t="${createOrEditTitle}"></button>
    </ux-dialog-footer>
  </ux-dialog>
</template>