ux-dialog-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
  
    &.active {
      opacity: 1;
    }
  }  
  ux-dialog-container {
    display: block;
    transition: opacity .25s linear;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
  
    &.active {
      opacity: 1;
    }

    & > div > div {
      display: block;
      height: -moz-fit-content;
      height: -webkit-fit-content;
      height: fit-content;
      margin: auto;
    }
  
    &, & > div, & > div > div {
      /**
       * Prevent Chrome on Windows from adding a focus outline. For details, see
       * https://github.com/twbs/bootstrap/pull/10951
       */
      outline: 0;
    }
  }

  
  ux-dialog {
    border-radius: 4px;
    display: block;
    background: white;
    margin: 30px;
  
    > ux-dialog-header {
      display: flex;
      button {
        flex: 1;
        border-radius: 0px!important;
        box-shadow: 0 0 0 0em rgba(0,0,0,0)!important;
      }
      .is-active {
        border-color: #b5b5b5!important;
        border-bottom: 0px;
      }
      &:hover:enabled {
        border-bottom: 0px;
      }
      &:focus {
        border-bottom: 0px;
      }
    }

    > ux-dialog-body {
      display: block;
      padding: 16px;
    }
  
    > ux-dialog-footer {
      display:flex;
      border-top: 1px solid #e5e5e5;
      text-align: right;
  
      button {
        flex: 1;
        border-radius: 0px!important;
        padding: 24px 12px!important;
        font-size: 1.25em!important;
        color: #333;
        background-color: #fff;
        

        font-size: 16px;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
  
        &:disabled {
          cursor: default;
          opacity: 0.45
        }
  
        &:hover:enabled {
          color: #333;
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }
  }
  
  .ux-dialog-open {
    overflow: hidden;
  }

