@import "../src/components/modal.scss";
@import "../node_modules/bulma/bulma.sass";

$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
$ct-series-colors: (
  #d70206,
  #f05b4f,
  #f4c63d,
  #d17905,
  #453d3f,
  #59922b,
  #0544d3,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

@import "../node_modules/chartist-webpack/dist/scss/chartist.scss";

.ct-label {
    color: white;
    fill: white;
}

.section {
    padding-bottom: 5em;
}

.active-navigation {
    background: white;
}

.navbar-icons {
    display: flex;
    min-height: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-icons > a {
    width: 100%;
    text-align: center;
    padding: 0.3em;
}

.navbar-icons > a > div > svg {
    width: 1.5em;
    height: 1.5em;
}

.navbar-icons > a > div > p {
    margin-top: -.5em;
    font-size: .75em;
}

.title-button-row {
    display: flex;
    justify-content: space-between;
}

.title-button-row > h5 {
    line-height: 1.8;
}
.text-center {
    text-align: center;
}
body > ux-dialog-overlay.active {
    background-color: black;
    opacity: .5;
}
.ux-dialog-open {
    max-height: 100vh;
}

.card-clickable- {
    background: #ebfffc;
}
.card-clickable-:active {
    background: grayscale($color: #ebfffc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}
.has-text- {
    color: #00d1b2 !important;
}

.card-clickable-primary {
    background: #ebfffc;
}
.card-clickable-primary:active {
    background: grayscale($color: #ebfffc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-info {
    background: #eef6fc;
}
.card-clickable-info:active {
    background: grayscale($color: #eef6fc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-success {
    background: #effaf3;
}
.card-clickable-success:active {
    background: grayscale($color: #effaf3);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-warning {
    background: #fffbeb;
}
.card-clickable-warning:active {
    background: grayscale($color: #fffbeb);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-danger {
    background: #feecf0;
}
.card-clickable-danger:active {
    background: grayscale($color: #feecf0);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-footer-title {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    color: #AAA;
}

.no-item-help {
    padding-top: 5em;

   > svg {
    width: 50%;
    margin: 0 auto;
    display: block;
   } 
}
.flex-fields {
    display: flex;
    justify-content: space-around;
}

.svg-container {
    display: flex;
    align-items: center;
    > svg {
        margin: 0 auto;
        display: block;
        width: 1.75em;
        height: 1.75em;
    }
}
.tabs {
    width: 100%;

    > ul {
        display: flex;
        > li {
            flex: 1;
        }
    }
}

.tabs::-webkit-scrollbar {
    background: transparent;
    height: 0px;
  }

  .field-flex-wrapper {
      display: flex;
      > div {
          flex: 1;
      }
      > div:first-child {
        margin-right: 0.5em;
        }
        > div:last-child {
            margin-left: 0.5em;
        }
}
