@import "../src/components/modal.scss";
@import "../node_modules/bulma/bulma.sass";

$primary-color: #00d1b2;

.slim-header {
    background-color: $primary-color;
}

.active-navigation {
    background: white;
}

.navbar-icons {
    display: flex;
    min-height: 2em;
}

.navbar-icons > a {
    width: 100%;
    text-align: center;
    padding: 0.25em;
}

.navbar-icons > a > div > svg {
    width: 1.5em;
    height: 1.5em;
}

.navbar-icons > a > div > p {
    margin-top: -.5em;
    font-size: .75em;
}

.title-button-row {
    display: flex;
    justify-content: space-between;
}

.title-button-row > h5 {
    line-height: 1.8;
}
.text-center {
    text-align: center;
}
body > ux-dialog-overlay.active {
    background-color: black;
    opacity: .5;
}
.ux-dialog-open {
    max-height: 100vh;
}
.card-clickable {
    background: #ebfffc;
}
.card-clickable:active {
    background: grayscale($color: #ebfffc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}