@import "../src/components/modal.scss";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-switch/src/sass/index.sass";
@import "../node_modules/bulma-checkradio/src/sass/index.sass";

$ct-series-names: (a, b, c, d, e, f, g, h, i, j, k, l, m, n, o) !default;
$ct-series-colors: (
#00d1b2,
  #3273dc,
  #209cee,
  #48c774,
  #ffdd57,
  #59922b,
  #ff3860,
  #6b0392,
  #f05b4f,
  #dda458,
  #eacf7d,
  #86797d,
  #b2c326,
  #6188e2,
  #a748ca
) !default;

@import "../node_modules/chartist-webpack/dist/scss/chartist.scss";

.ct-label {
    color: white;
    fill: white;
}

.section {
    padding-bottom: 5em;
}

.topbar-wrapper {
    display: flex;
    max-height: 40px;
    height: 40px;
    
    > div {
        flex: 5;
        position: relative;
        > svg {
            height: 100%;
            position: absolute;
            stroke: white;
        }
    }
    > div:first-child {
        flex: 1;
        > svg {
            left: 0;
        }
    }
    > div:last-child {
        flex: 1;
    }
}

.navbar-container {
    > svg {
        stroke: lightgrey;
        fill: whitesmoke
    }
}

.active-navigation {
    background: white;
    > div {
        > svg {
            stroke: black;
            fill:white;
        }
        > p {
            color: black!important;
        }
    }

}

.navbar-icons {
    display: flex;
    min-height: 2em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.navbar-icons > a {
    width: 100%;
    text-align: center;
    padding: 0.3em;
}

.navbar-icons > a > div > svg {
    width: 1.5em;
    height: 1.5em;
}

.navbar-icons > a > div > p {
    margin-top: -.5em;
    font-size: .75em;
    color: #888;
}

.title-button-row {
    display: flex;
    justify-content: space-between;

    > div {
        margin-bottom: 1.5rem;
    }
}

.title-button-row > div > h5 {
    line-height: 1.8;
}
.text-center {
    text-align: center;
}
body > ux-dialog-overlay.active {
    background-color: black;
    opacity: .5;
}

.card-clickable- {
    background: #ebfffc;
}
.card-clickable-:active {
    background: grayscale($color: #ebfffc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}
.has-text- {
    color: #00d1b2 !important;
}

.card-clickable-primary {
    background: #ebfffc;
}
.card-clickable-primary:active {
    background: grayscale($color: #ebfffc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-info {
    background: #eef6fc;
}
.card-clickable-info:active {
    background: grayscale($color: #eef6fc);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-success {
    background: #effaf3;
}
.card-clickable-success:active {
    background: grayscale($color: #effaf3);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-warning {
    background: #fffbeb;
}
.card-clickable-warning:active {
    background: grayscale($color: #fffbeb);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-clickable-danger {
    background: #feecf0;
}
.card-clickable-danger:active {
    background: grayscale($color: #feecf0);
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.04);
}

.card-footer-title {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    color: #AAA;
}

.no-item-help {
    padding-top: 5em;

   > svg {
    width: 50%;
    margin: 0 auto;
    display: block;
   } 
}
.flex-fields {
    display: flex;
    justify-content: space-around;
}

.svg-container {
    display: flex;
    align-items: center;
    > svg {
        margin: 0 auto;
        display: block;
        width: 1.75em;
        height: 1.75em;
    }
}
.tabs {
    width: 100%;

    > ul {
        display: flex;
        > li {
            flex: 1;
        }
    }
}

.tabs::-webkit-scrollbar {
    background: transparent;
    height: 0px;
  }

  .field-flex-wrapper {
      display: flex;
      > div {
          flex: 1;
      }
      > div:first-child {
        margin-right: 0.5em;
        }
        > div:last-child {
            margin-left: 0.5em;
        }
}

  .no-copy {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */     
  }

  .arrow-icon-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      > svg  {
          width: 3em;
      }
  }

  .save-reorder {
    width: 100%;
    height: 3.3em;
    z-index: 999;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    > h4 {
        color: whitesmoke;
        align-self: center;
    }
  }

  .calendar-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.calendar-weekdays {
  display: flex;
  flex-wrap: wrap;
  > p {
      text-align: center;
      flex: 0 1 14.28%;
  }
}

.calendar-content {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  > div {
    border: 1px solid hsl(219deg 70% 96%);
      text-align: center;
      flex: 0 1 14.28%;

      padding: 1em;
  }


  .day-background-green {
    //   background:    hsl(141, 53%, 53%)
    background: hsl(142, 52%, 80%);
  }
  .day-background-yellow {
    //   background: hsl(48, 100%, 67%);
    background: hsl(48, 100%, 80%);
  }
  .day-background-red {
    //   background: hsl(348, 100%, 61%);
    background: hsl(347, 90%, 80%);
  }

  .active-day {
      background: hsl(203, 92%, 90%);
  }
}

.calendar-list {
    margin-left: 0.75em;
    margin-right: 0.75em;
  > div {
      display: flex;
      justify-content: space-between;
  }
}

.calendar-wrapper {
    margin-left: -1.5em;
    margin-right: -1.5em;
    margin-top: -1.5em;
}

.table {
    width:100%!important;
    table-layout:fixed!important;
    min-width:100%;

    > thead {
        > tr {
            th {
                border-bottom: 0px;
                padding: 0.5em 0em;
            }
        }
    }
    > tbody {
        > tr {
            td {
                overflow: hidden;
                padding: 0.5em 0em;
            }
        }
    }
}

.question-wrapper {
    position: relative;
    > div {
        > p {
            padding: 0.5em;
            padding-bottom: 1em;
        }
        > div {
            position: relative;
            > div {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                > svg {
                    display: flex;
                    width: 1.5em;
                    align-self: center;
                    height: 100%;
                    margin-right: 1em;
                    margin-left: auto;
                }
    
            }
        }
    }
    > h2 {
        margin-right: 2em;
    }
    
    
}
